#header {
  background-color: #ba0305;
  color: #ffffff;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  img {
    width: 50px;
    height: 50px;
  }
}

#searchBar {
  margin-left: -400px;
  width: auto;
  z-index: 1000;
}

button {
  width: 30px;
  height: 30px;
}

#account {
  margin-right: 5px;
  align-self: center;
}

@media only screen and (max-width: 820px) {
  #searchBar {
    margin-left: -300px;
  }
}

@media only screen and (max-width: 710px) {
  #searchBar {
    margin-left: -200px;
  }
}

@media only screen and (max-width: 614px) {
  #searchBar {
    margin-left: -100px;
  }
}

@media only screen and (max-width: 517px) {
  #searchBar {
    margin-left: -40px;
  }
}